<div class="bg-white py-5 px-8">
    <div class="space-y-6" *ngIf="cartItems.length === 0">
    <p class="font-bold text-xl text-red">Your Cart (0)</p>

    <div class="w-full flex justify-around text-center">
    <img src="/assets/images/illustration-empty-cart.svg" alt="empty cart">
    </div>

    <p class="text-rose-500 text-sm text-center">Your added items will appear here</p>
    </div>

    <div class="space-y-6" *ngIf="cartItems.length > 0">
        <p class="font-bold text-xl text-red">Your Cart ({{ cartItems.length }})</p>

        <div *ngFor="let item of cartItems">

        <div class="flex items-center justify-between mb-4">
        <div>
            <h2 class="text-rose-900 font-semibold">{{item.name}}</h2>
            <div class="flex gap-4">
            <p  class="text-red font-bold">{{item.quantity}}x</p>
            <p  class="text-rose-500">&#64; ${{item.price.toFixed(2)}}</p>
            <p  class="text-rose-500 font-semibold">${{((item.quantity ?? 0) * item.price).toFixed(2)}}</p>
            </div>
        </div>

        <button (click)="removeFromCart(item)"
            class="flex justify-center items-center w-6 h-6 rounded-full text-center border-2 border-rose-400 ">
            <img src="/assets/images/icon-remove-item.svg" alt="remove icont">
        </button>
        </div>
        
        <div class="h-[1.5px] w-full bg-rose-100"></div>

        </div>

        <div class="flex justify-between items-center">
            <p>Order Total</p>
            <p class="text-rose-900 font-bold text-xl">${{ getTotalPrice() }}</p>
        </div>

        <div class="flex justify-center items-center gap-3 bg-rose-50 py-3 rounded-md">
            <div>
                <img src="/assets/images/icon-carbon-neutral.svg" alt="neutral">
            </div>
            <p>This is a  <span class="font-semibold">carbon-neutral</span> delivery</p>
        </div>

        <button (click)="onConfirmOrder()"
        class="flex justify-center items-center bg-red hover:bg-rose-700 text-white teaxt-sm w-full rounded-full py-3">Confirm Order
        </button>

    </div>
    
</div>
