<div class=" xl:grid xl:grid-cols-3 xl:gap-4 p-10">

    <div class="xl:col-span-2 space-y-4">

    <h2 class="font-bold text-[35px]">Desserts</h2>

    <div class="grid sm:grid-cols-3 sm:gap-3 ">
        <app-product-card *ngFor="let product of products" [product] = "product"></app-product-card>
    </div>

    </div>

    <div class="xl:col-span-1">
    <app-cart (confirmOrder)="onOrderConfirm($event)"></app-cart>
    </div>

</div>

<div *ngIf="showModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-end sm:items-center z-50">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full sm:w-[90%] sm:max-w-lg overflow-y-auto animate-slideUp">

    <button class="w-8 h-8 mb-6">
        <img src="/assets/images/icon-order-confirmed.svg" alt="increment item quantity">
    </button>

    <div class="mb-6">
      <h2 class="w-40 sm:w-full text-[30px] sm:text-2xl font-bold mb-1">Order Confirmed</h2>
      <p class="text-rose-500 text-sm">We hope you enjoy your food!</p>
    </div>
 
      <div class="bg-rose-50 p-5 rounded-md">
      <div *ngFor="let item of cartItems">

        <div class="flex justify-between items-center my-4">
          <div class="flex gap-2 items-center">
            <div class="h-16 w-16">
              <img [src]="item.image.thumbnail" alt="" class="rounded-md">
            </div>

            <div>
              <h2 class="text-rose-900 font-semibold">{{item.name}}</h2>
              <div class="flex gap-4">
                <p  class="text-red font-semibold">{{item.quantity}}x</p>
                <p  class="text-rose-500">&#64; ${{item.price.toFixed(2)}}</p>
              </div>
            </div>
          </div>

          <div><p  class="text-rose-900 font-semibold">${{((item.quantity ?? 0) * item.price).toFixed(2)}}</p></div>
        </div>

        <div class="h-[1.5px] w-full bg-rose-100"></div>

      </div>

      <div class="flex justify-between items- my-4">
        <p>Order Total</p>
        <p class="text-rose-900 font-bold text-xl">${{ getTotalPrice() }}</p>
      </div>

      </div>

      <button (click)="closeModal()"
        class="flex justify-center items-center bg-red hover:bg-rose-700 text-white teaxt-sm w-full rounded-full py-3 mt-6">Start new Order
      </button>
    </div>
  </div>